.data-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.data-table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
}

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.create-button {
  background-color: #2a6968;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}